In [14]:
class Vault:
      def __init__(self, a=0,b=0,c=0):
            self.a=a
            self.b=b
            self.c=c
      def __add__(self,other):
            return Vault(self.a + other.a,
            self.b+other.b,
            self.c+other.c) 
      def __repr__(self):
            return f"{self.a} a, {self.b} b, {self.c} c"

In [15]:
David = Vault(20,10,4)
Jack = Vault(10,10,10)
print(David+Jack)

30 a, 20 b, 14 c

In [13]:
total = David+Jack
print(total.a, total.b, total.c)

30 20 14

In [1]:
import pandas as pd

In [17]:
df = pd.DataFrame({'Jack':[3,5,6], 'Jane':[4,6,7]})
df['Jack'].sum()

14

In [30]:
df.sort_values(by='Jack', ascending=False)

   Jack  Jane
2     6     7
1     5     6
0     3     4

In [33]:
df.agg({'Jack':'sum', 'Jane':'mean'})

Jack    14.000000
Jane     5.666667
dtype: float64

In [34]:
list(df.Jack)

[3, 5, 6]